@{
    ViewData["Title"] = "Kontakt";
    ViewData["Title"] = "Kontakt";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Bonifacego 7<br />
    Wrocław<br />
    <abbr title="Telefon">Tel:</abbr>
    555.555.555
</address>

<address>
    <strong>Wsparcie:</strong> <a href="mailto:Support@example.com">wsparcie@testsystem.pl</a><br />
  
</address>
